.App {
  text-align: center;
  background-color: pink;
}

button {
  background-color: rgb(61, 138, 173);
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
